## TODOs

- add total votes row to bottom of results
- implement tiebreakers
- clean up round vote counts display and standardize features
- more extensive testing
- edge case hunting
- add VP names to candidate names in real data
- other stuff I am forgetting

In [1]:
import pandas as pd 
import numpy as np 
from classes import Election
from reader import read_election_data
from pprint import pprint

In [2]:
real_file = "Data/test_data.csv"
fake_file = "Fake Data/fake_data_test_1.csv"

voters, candidates = read_election_data(real_file)
print(len(voters))
print(candidates)

100
['Jeremiah (JJ) Nabors-Moore', 'No Confidence', 'Nicholas (Nick) Johnson', 'Alan Hu', 'Gauri Adarsh']

In [3]:
election = Election(voters, candidates)
election.run_election()

Random tiebreaker: ['Jeremiah (JJ) Nabors-Moore', 'No Confidence'] with 0 votes in round 1.

'Gauri Adarsh'

In [4]:
election.get_election_results()

                            Round 1 Round 2 Round 3 Round 4
Gauri Adarsh                     47      47      47      51
Nicholas (Nick) Johnson          32      32      32      38
Alan Hu                          21      21      21
Jeremiah (JJ) Nabors-Moore        0       0
No Confidence                     0

In [10]:
election.get_filtered_election_results(school="Communications")

                            Round 1 Round 2 Round 3 Round 4
Gauri Adarsh                      7       7       7       7
Nicholas (Nick) Johnson           3       3       3       3
Alan Hu                           0       0       0
Jeremiah (JJ) Nabors-Moore        0       0
No Confidence                     0

In [12]:
election.get_round_vote_counts(1)

,Jeremiah (JJ) Nabors-Moore,No Confidence,Nicholas (Nick) Johnson,Alan Hu,Gauri Adarsh
Rank 1,0,0,32,21,47
Rank 2,14,28,14,9,11
Rank 3,19,15,9,1,6
Rank 4,5,16,5,7,3
Rank 5,1,13,1,8,1

In [ ]:
election.get_filtered_round_vote_counts(school="SESP", round=3)

        Woody  Shrek  Buzz Lightyear
Rank 1      0      0               0
Rank 2      0      0               0
Rank 3      0      0               0
Rank 4      0      0               0
Rank 5      0      0               0