## TODOs

- add total votes row to bottom of results
- implement tiebreakers
- clean up round vote counts display and standardize features
- more extensive testing
- edge case hunting
- add VP names to candidate names in real data
- other stuff I am forgetting

In [ ]:
import pandas as pd 
import numpy as np 
from classes import Election
from reader import read_election_data
from pprint import pprint

In [2]:
real_file = "Data/results.csv"

voters, candidates = read_election_data(real_file)
print(len(voters))
print(candidates)

2039
['Adarsh & Sisco', 'Nick & Nur', 'JJ & Patrick', 'No Confidence', 'Hu & Cohrs']

In [3]:
election = Election(voters, candidates)
election.run_election()

'Adarsh & Sisco'

In [4]:
election.get_election_results()

                Round 1 Round 2 Round 3 Round 4
Adarsh & Sisco      713     713     721     896
Hu & Cohrs          725     726     736     798
Nick & Nur          558     558     569
JJ & Patrick         39      39
No Confidence         4

In [5]:
election.get_filtered_election_results(year=0)

                Round 1 Round 2 Round 3 Round 4
Adarsh & Sisco       47      47      47      52
Hu & Cohrs           52      52      52      56
Nick & Nur           22      22      23
JJ & Patrick          1       1
No Confidence         0

In [27]:
schools = []
for voter in voters:
    if voter.year not in schools:
        schools.append(voter.year)
print(schools)

[2027, 2026, 2029, None, 2028, 2030]

In [8]:
election.get_round_vote_counts(4)

                Rank 1  Rank 2
Adarsh & Sisco     896     278
Hu & Cohrs         798     330

In [18]:
ticket = "No Confidence"
ticket_voters = [voter for voter in voters if ticket == voter.count_choices([])[0]]
len(ticket_voters)

4

In [19]:
ticket_election = Election(ticket_voters, candidates)
ticket_election.run_election()
ticket_election.get_round_vote_counts(1).iloc[1:,1:]

                Rank 2  Rank 3  Rank 4  Rank 5
Adarsh & Sisco       0       0       0       0
Nick & Nur           0       0       0       0
JJ & Patrick         0       0       0       0
Hu & Cohrs           1       0       0       0